@model CoreAspShop.Models.ProductType
@{
    ViewData["Title"] = "Delete";
}
<h2 class="text-success mt-1">Product Type Details</h2>
<form asp-action="Delete" method="post">
    <div class="border rounded p-4">
        <div class="row form-group">

            <div class="col-2">
                <label asp-for="Name"></label>
            </div>

            <div class="col-5">
                <input asp-for="Name" class="form-control" disabled />
            </div>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" class="btn btn-danger" value="Delete" asp-route-id="@Model.Id" />
            <a asp-action="index" class="btn btn-success">Back to list</a>
        </div>
    </div>
</form>

