@model IEnumerable<CoreAspShop.Models.ProductType>
@{
    ViewData["Title"] = "Index";
}
@if(TempData["SM"] != null)
{
    <div class="row text-center">
        <div class="col-12 alert alert-success">
            @TempData["SM"]
        </div>
    </div>
}



<div class="row mt-2">
    <div class="col-sm-12 col-lg-6">
        <h2 class="text-info">Product Type List</h2>
    </div>
    <div class="col-sm-12 col-lg-6 text-right">
        <a asp-action="Create" class="btn btn-info">New Product Type</a>
    </div>
</div>

<div class="row mt-1">
    <table class="table table-striped border">
        <thead>
            <tr class="table-info">
                <th>@Html.DisplayNameFor(x => x.Name)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(x => item.Name)</td>
                    <partial name="_TableButtonsPartial" model="item.Id" />
                </tr>
            }
        </tbody>
    </table>
</div>