@model CoreAspShop.Models.ViewModels.ProductsViewModel
@{
    ViewData["Title"] = "Delete " + Model.Product.Name;
}
<h3 class="text-danger">Product delete</h3>

<form asp-action="Delete" method="post">
    <div class="row border rounded p-4">

        <input type="hidden" asp-for="Product.Id" />
        <div class="col-8">

            <div class="row mt-4 form-group">
                <div class="col-3">
                    <label asp-for="Product.Name"></label>
                </div>
                <div class="col-6">
                    <input asp-for="Product.Name" class="form-control" disabled />
                </div>
            </div>

            <div class="row mt-4 form-group">
                <div class="col-3">
                    <label asp-for="Product.Price"></label>
                </div>
                <div class="col-6">
                    <input asp-for="Product.Price" class="form-control" disabled />
                </div>
            </div>

            <div class="row mt-4 form-group">
                <div class="col-3">
                    <label asp-for="Product.Available"></label>
                </div>
                <div class="col-6">
                    <input asp-for="Product.Available" class="form-check" type="checkbox" disabled />
                </div>
            </div>


            <div class="row mt-4 form-group">
                <div class="col-3">
                    <label asp-for="ProductTypes"></label>
                </div>
                <div class="col-6">
                    <input asp-for="Product.ProductType.Name" class="form-control" disabled />
                </div>
            </div>

            <div class="row mt-4 form-group">
                <div class="col-3">
                    <label asp-for="Product.ShadeColor"></label>
                </div>
                <div class="col-6">
                    <input asp-for="Product.ShadeColor" class="form-control" disabled />
                </div>
            </div>

            <div class="row mt-4 form-group">
                <div class="col-3">
                    <label asp-for="SpecialTags"></label>
                </div>
                <div class="col-6">
                    <input asp-for="Product.SpecialTag.Name" class="form-control" disabled />
                </div>
            </div>
        </div>
        <div class="col-3 offset-1">
            <img src="@Model.Product.Image" class="photo-format" />
        </div>
        <br />

        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>

    </div>
</form>